body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #9b9999;
}

.container{
    background-color: white;
    padding: 20px;
    margin: 20px;
    max-width: 1900px;
    height: auto;
    border-radius: 10px;
}

header{
    display: flex;
    justify-content: space-between;
}

.home-icon{
    width: 150px;
    height: 150px;
    padding: 40px;
}

nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 30px 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(95, 95, 95);
}

form{
    display: flex;
    padding-right: 60px;
    padding-top: 40px;
}

input[name="search"]{
    width: 180px;
    height: 25px;
}

button{
    width: 80px;
    height: 30px;
}

.main-heading{
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
}

.text-section{
    width: 50%;
}

h1{
    font-size: 80px;
    color: rgb(92, 92, 92);
}

p{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    color: rgb(87, 87, 87);
}

.buy-now{
    display: flex;
    padding: 10px 10px 10px 10px;
    border: 1px solid  rgba(86, 85, 85, 0.549);
    border-radius: 30px;
    width: 170px;
    height: 40px;
    background-color: rgba(86, 85, 85, 0.549);
}

.icon{
    width: 50px;
    height: 40px;
    border-radius: 20px;
}

.big-button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 150px;
    height: 40px;
    color: white;
}

.icon-web{
    padding-right: 40px;
    width: 40%;
    height: auto;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 20px;
}

.product-card {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h2 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.product-card p {
    font-size: 18px;
    color: #666;
}

.product-card button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 30px;
}

.product-card button:hover {
    background-color: #222;
}